@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --bg: #f0f0f0;
  --blanco: #ffffff;
  --azul: #0098da;
  --negro: #000000;
  --gris: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}

/* header */
#main-header {
  background-color: var(--blanco);
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  width: 100dvw;
  border-bottom: 1px solid rgb(190, 190, 190);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  font-size: 1.2rem;
  position: fixed;
  z-index: 9;
}

#main-headre picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header img {
  width: 4rem;
  margin: 1rem;
  margin-top: 1.5rem;
}

#main-header a {
  text-decoration: none;
  color: var(--negro);
}
#main-header a:last-child {
  color: var(--blanco);
  background-color: var(--azul);
  padding: 0.25rem 0.5rem;

  border-radius: 1.25rem;
}

#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  flex: 1;
  gap: 1rem;
}

.menu-open,
#main-header label {
  display: none;
}

@media (max-width: 720px) {
  #main-header label {
    display: flex;
  }
  #main-header {
    justify-content: space-between;
    border-bottom: 0px;
  }

  #main-header label {
    margin-right: 1rem;
  }
  #menu {
    position: fixed;
    top: 4rem;
    left: 0;
    padding: 1rem;
    width: 100dvw;
    flex-direction: column;
    text-align: center;
    background-color: var(--blanco);
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
  }
  .menu-open:checked ~ #menu {
    display: flex;
  }
}

/* portada */

main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  padding: 10rem;
  gap: 3rem;
  width: 100%;
  height: 20rem;
}

.portada {
  display: flex;
  align-items: center;
  height: 15rem;
  max-width: 320px;
  min-width: 290px;
  flex-direction: column;
}

.portada h1 {
  font-size: 2.5rem;
}
.portada h1:nth-child(2) {
  padding-bottom: 1.5rem;
}

.portada nav {
  justify-content: center;
  display: flex;
  width: 500px;
}

.portada a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 1rem 0;
  width: 10rem;
  height: 2rem;
  margin: 2rem 0.5rem;
  border-radius: 1rem;
  border: 2px solid var(--negro);
  color: var(--blanco);
  font-weight: 600;
  background-color: var(--negro);
}

.portada a:nth-child(2) {
  border: 2px solid var(--negro);
  background-color: var(--bg);
  color: var(--negro);
}

main picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

main picture img {
  width: 95%;
  max-width: 20rem;
  min-width: 250px;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
}

@media (max-width: 720px) {
  main {
    flex-direction: column;
    height: 20rem;
    padding: 0;
    margin-top: 5rem;
  }
  .portada {
    flex-direction: column;
    width: 20rem;
    text-align: center;
  }
  main picture img {
    display: none;
  }
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}

.desc p {
  width: 720px;
}

@media (max-width: 720px) {
  .desc {
    margin-top: 0;
  }
  .desc p {
    display: flex;
    width: 80%;
    font-size: 1rem;
  }
}

/* cards productos */

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards header {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 2rem 0;
  text-align: center;
}
.cards h2 {
  margin-top: 1rem;
}
.cards ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
.btn-move {
  background-color: var(--azul);
  width: 30px;
  color: var(--blanco);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.cards ul li {
  background-color: var(--blanco);
  width: 200px;
  height: 345px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  padding: 0.5rem;
}
.cards picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards picture img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
}

.boldblue {
  font-weight: 700;
  color: var(--azul);
}
.bold {
  font-weight: 700;
}

@media (max-width: 1000px) {
  .cards ul li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 750px) {
  .cards ul li:nth-child(2) {
    display: none;
  }
}
@media (max-width: 550px) {
  .cards ul li:nth-child(4) {
    display: none;
  }
}

/*contacto */

.contactus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.contact h3 {
  font-size: 1.5rem;
  margin: 5rem 2rem 2.5rem 2rem;
}

.contact figure {
  margin: 2.5rem 2rem;
}

.contacto {
  text-align: left;
  padding: 0.5rem;
  width: 400px;
}
.minilogo {
  width: 16px;
  vertical-align: middle;
  margin-right: 2px;
}

.map {
  height: 350px;
}

@media (max-width: 750px) {
  .contactus {
    gap: 1rem;
    flex-direction: column;
    margin: 2rem;
  }
  .contact {
    align-items: center;
  }
  .contacto {
    width: 300px;
  }
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--negro);
  color: var(--blanco);
  gap: 1rem;
}
footer picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer picture img {
  width: 4rem;
  margin-top: 1.5rem;
}

footer figure img {
  filter: invert(100%);
}

footer nav {
  display: flex;
  gap: 0.5rem;
}
footer nav a {
  text-decoration: none;
  color: var(--bg);
}
footer p {
  opacity: 0.5;
}
