@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --bg: #fafbff;
  --blanco: #ffffff;
  --azul: #0098da;
  --negro: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Outfit", sans-serif;
}

/* header */
#main-header {
  background-color: var(--blanco);
  display: flex;
  top: 0;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  border-bottom: 1px solid rgb(190, 190, 190);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  font-size: 1.2rem;
  position: fixed;
  z-index: 9;
}

#main-headre picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header img {
  width: 4rem;
  margin: 1rem;
  margin-top: 1.5rem;
}

#main-header a {
  text-decoration: none;
  color: var(--negro);
}
#main-header a:last-child {
  color: var(--blanco);
  background-color: var(--azul);
  padding: 0.25rem 0.5rem;

  border-radius: 1.25rem;
}

#main-header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  flex: 1;
  gap: 1rem;
}

/* portada */

main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  padding: 10rem;
  gap: 3rem;
  width: 100dvw;
  height: 20rem;
}

.portada {
  display: flex;
  align-items: center;
  height: 15rem;
  max-width: 320px;
  min-width: 290px;
  flex-direction: column;
}

.portada h1 {
  font-size: 2.5rem;
}
.portada h1:nth-child(2) {
  padding-bottom: 1.5rem;
}

.portada nav {
  justify-content: center;
  display: flex;
  width: 500px;
}

.portada a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 1rem 0;
  width: 10rem;
  height: 2rem;
  margin: 2rem 0.5rem;
  border-radius: 1rem;
  border: 2px solid var(--negro);
  color: var(--blanco);
  font-weight: 600;
  background-color: var(--negro);
}

.portada a:nth-child(2) {
  border: 2px solid var(--negro);
  background-color: var(--bg);
  color: var(--negro);
}

main picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

main picture img {
  width: 95%;
  max-width: 20rem;
  min-width: 250px;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
}

@media (max-width: 1080px) {
  main {
    flex-direction: column;
    height: 20rem;
    padding: 0;
    margin-top: 5rem;
  }
  .portada {
    flex-direction: column;
    width: 20rem;
    text-align: center;
  }
  main picture img {
    display: none;
  }
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100dvw;
  margin-top: 3rem;
}

.desc p {
  width: 720px;
}

@media (max-width: 1080px) {
  .desc {
    margin-top: 0;
  }
  .desc p {
    width: 80dvw;
    font-size: 1rem;
  }
}
